<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Website</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to My Shop</h1>
    </header>
    <main>
        <div class="products">
            {% for product in products %}
            <div class="product-card">
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
                <div class="product-card-content">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p><strong>Rs:{{ product.price }}</strong></p>
                    <a href="/product/{{ product.id }}">View Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
